@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Roboto+Mono:wght@400;500;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

body,
html {
    box-sizing: border-box;
    position: relative;
    @apply bg-def_dark_purple text-def_white
}


@layer components {}

/* Scroll Bar  */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}


@layer utilities{
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
  
    .scrollbar-thumb-dark::-webkit-scrollbar-thumb {
        @apply bg-def_blue_gray_light;
        border-radius: 4px;
    }
}



/* Scrollbar */
::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-def_blue_gray_light;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-opacity-70
}

::-webkit-scrollbar-corner { background: transparent }


/* Editing The Snippet Component */
.code-line,.w-tc-editor-text{
    white-space: pre;
}